<div class="form-group">
	<label for="title">
		Title
	</label>
	<input required type="text" value="<%= articles.title %>" name="title" id="title" class="form-control">

</div>
<div class="form-group">
	<label for="Description">
		Description
	</label>
	<textarea name="Description" id="Description" class="form-control"></textarea>


</div>
<div class="form-group">
	<label for="Markdown">
		Markdown
	</label>
	<textarea name="Markdown" id="Markdown" class="form-control"></textarea>


</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit"class="btn btn-primary">Save</button>